<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"
      icon="arrow-back-circle-outline" 
      text="Volver"
       color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>
  <ion-toolbar>
    <img src="assets/logoassist.jpg" class="logoapp" >
  </ion-toolbar>


<ion-content [fullscreen]="true">


  <p class="custom-title nombreusuario">Hola! {{nombre}}</p>

  

  <ion-button (click)="scan()" expand="block"  shape="round">
    Scanear Asistencia
  </ion-button>
  

</ion-content>

