<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
      icon="arrow-back-circle-outline" 
      text="Volver"
       color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>
  <ion-toolbar>
    <img src="assets/logoassist.jpg" class="logoapp" >
  </ion-toolbar>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/registro.jpg" />
    <ion-card-header>
      <ion-card-title>Sobre la APP</ion-card-title>
      <ion-card-subtitle>¿Que es Assist QR?</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      AssistQR es tu compañero ideal para gestionar la asistencia de los alumnos de manera eficiente y sin complicaciones. Escanea códigos QR de forma rápida y precisa para registrar la presencia en clases de forma instantánea. Simplifica la administración de asistencia y permite un seguimiento sin esfuerzo para profesores y estudiantes. ¡Mantén un registro impecable con AssistQR y optimiza tus clases como nunca antes!"
    </ion-card-content>
  </ion-card>




  <ion-card>
    <ion-card-header>
      <ion-card-title>Assist QR</ion-card-title>
      <ion-card-subtitle>Funcionalidades Principales</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="assets/qrverde.jpg" />
          </ion-thumbnail>
          <ion-note>ESCANEO DE CODIGO QR:<br> Los profesores generan QR únicos para cada clase y los estudiantes utilizan la cámara de sus móviles para escanear este código.</ion-note>
        </ion-item>
        <br>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img  src="assets/qrrosa.jpg" />
          </ion-thumbnail>
          <ion-note>REGISTRO DE ASISTENCIA:<br> Una vez que el código QR se escanea, la APP registra automáticamente la asistencia del estudiante y lse vinculan con la identidad del estudiante.</ion-note>
        </ion-item>
        <br>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="assets/qrazul.jpg" />
          </ion-thumbnail>
     <ion-note>HISTÓRICO DE ASISTENCIA:<br> Los estudiantes pueden acceder a un historial de asistencia que muestra todas las clases a las que han asistido o faltado. </ion-note>
        </ion-item>
  <br>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="assets/qrrojo.jpg" />
          </ion-thumbnail>
         <ion-note>NOTIFICACIONES, SEGURIDAD:<br>Los estudiantes podran podran acceder a un historial para ver sus faltas y asistencias y los datos se almacenaran de forma segura y solo se accedera por medio de la autentificacion del estudiante.</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>




 
