

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"
      icon="arrow-back-circle-outline" 
      text="Volver"
       color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>






<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>
  <ion-toolbar>
    <img src="assets/logoassist.jpg" class="logoapp" >
  </ion-toolbar>
  <ion-title class="apifer">Feriados/Festivos</ion-title>

  <ion-col size="12" size-lg="3" size-md="4" size-sm="6"
        *ngFor="let a of feriado; let i=index"> 
      <div class="dia-feriado">
        <span class="titulospan">{{a['title']}}</span><hr>
        <span>{{a['date']}}</span><hr>
        <!--<span>{{a['type']}}</span><hr>-->
        <!--<span>{{a['inalienable']}}</span><hr>-->
       <span>{{a['extra']}}</span>
      
     
      </div>
  </ion-col>

</ion-content>
