.logoapp {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    
  }
  .dia-feriado {
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px auto; 
    max-width: 300px; 

  }
.apifer {
    text-align: center;
    font-size: 24px;
    background-color: black;
    color: #f1c40f;
    border-radius: 20px;
    padding: 10px;
    border-radius: 20%;
    max-width: 290px;
    width: 100%; 
    margin-left:15%;
    margin-top: 10px;
  
  }
  ion-content {
    --background: #E1E0DD;

  }
  .titulospan {
    color: #f1c40f; 
    background: black;
    display: block; 
    width: 100%; 
    text-align: center;
    padding: 2px;
    
  }