.custom-title {
    font-size: 16px; 
    text-align: center; 

  }

  ion-button {
    --background:#FFB800;
    --background-hover:black;
    --color: white;
    --border-radius: 20px;
    --border-color: black;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --padding-top: 10px;
    --padding-bottom: 10px;
   
  }
  
  .custom-button {
    font-size: 15px;
    font-weight: bold;
    margin-top:10px;
    
  }
  
  ion-content {
    --background: #E1E0DD; 
  }
  


  .logoapp {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    
  }
  
  
  

form {
    max-width: 280px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    padding-bottom: 50px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
  }
  
  form .accion-link {
    text-decoration: underline;
    cursor: pointer;
  }
  
  form ion-title.titulo {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    background-color: black;
    color: #f1c40f;
    border-radius: 20%;
    padding: 10px;
  }
  
  form ion-item ion-label{ 
    color: black;
  }
  form ion-button {
    color:white;
  }
  
  ion-content {
    --background: #E1E0DD;
  }
  
  form ion-item ion-input {
    color: black;
  }
  
  form ion-button {
    margin-top: 10px;
    --background: #FFB800;
    --background-hover: black;
    --color: white;
    --border-radius: 20px;
    --border-color: black;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    --padding-bottom: 10px;
    width: 100%;
  }
  
  form ion-button.custom-button {
    font-size: 15px;
    font-weight: bold;
  }
  
  form .logoapp {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  
  ion-content ion-title.titulo {
    margin: 20px;
  }


  .registrar{

    text-align: center;
    font-size: 24px; 
    margin-top: 10px; 
    margin-bottom: 10px;
    background-color: black ;
    color:#f1c40f;
    border-radius: 20%;
    padding: 10px;
    display: block; 
    margin: 0 auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 280px; 
  }

 